.navbar {
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.shadow {
  box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 10%) !important;
}
.navbar__right {
  margin-top: 30px;
}

.navbar__image {
  width: 50px;
  height: 50px;
}
.navbar__user {
  margin-left: 20px;
}

.navbar__user__name {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
.navbar__user__phone {
  font-weight: 300;
  font-size: 13px;
  word-spacing: 4px;
}
