.input__pin:-webkit-input-value {
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 25px;
}

.input__pin {
  color: #3a3d42;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  /* align-items: center; */
}
